* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container {
  padding: 15px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container nav {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container nav ul li {
  list-style: none;
}
header .container nav ul li a {
  text-decoration: none;
  color: black;
}
header .container .icons {
  display: flex;
  gap: 15px;
}

#newPerfect {
  min-height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#newPerfect .container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#newPerfect .container .newPerfectTxt {
  width: 45%;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
}
#newPerfect .container .newPerfectTxt h1 {
  font-size: 45px;
  color: red;
}
#newPerfect .container .newPerfectTxt p {
  color: green;
  font-size: 20px;
}
#newPerfect .container .newPerfectTxt button {
  border: none;
  width: 25%;
  background-color: #444343;
  padding: 10px;
  color: #fff;
}
#newPerfect .container .newPerfectTxt button:hover {
  background-color: red;
  transition: 0.5s ease;
  cursor: pointer;
}
#newPerfect .container .watchImg {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#newPerfect .container .watchImg img {
  width: 80%;
}

#newArrials {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#newArrials .container {
  width: 80%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#newArrials .container .allProducts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#newArrials .container .allProducts .products {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#newArrials .container .allProducts .products img {
  width: 100%;
}

@media screen and (max-width: 991px) {
  header .container nav {
    display: none;
  }
}